body {
  margin: 0;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-grid-style {
  background-color: rgb(122, 122, 88);
  margin-top: 30px;
  border-radius: 15px;
  padding: 10px;
}

.main-grid {
  display: grid;
}

.cell-0 {
  display: flex;
  background-color: rgb(151, 150, 137);
  margin: 5px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 190px;
}

.pepe {
  width: 128px;
  height: 128px;
  /* margin-left: auto;
  margin-right: auto;
  align-self: center; */
}

.modal {
  z-index: 20;
}

.start_menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  justify-items: center;

  position: absolute;
  padding: 15px;
  margin-top: 600px;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  background-color: burlywood;
}

.size_choice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

p {
  justify-self: center;
}

.h_input {
  width: 50px;
  height: 30px;
}
.w_input {
  width: 50px;
  height: 30px;
}

.start_button {
  width: 120px;
  justify-self: center;
}

.hidden {
  display: none;
}

/* .sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(122, 122, 88);
  border-radius: 15px;
  height: 800px;
  width: 200px;
  margin-top: 30px;
  padding: 10px;
  margin-right: 15px;
} */

/* .inner-sidebar {
  background-color: rgb(151, 150, 137);
  border-radius: 15px;
  height: 100%;
  width: 100%;
  margin: 5px;
}

.inventory-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
} */
